Repository jwillz7667/quantum-architect-dankdeals: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', stylelint --fix --cache --cache-location .cache/stylelint, bash -c 'npm run deps:clean || true'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --cache --cache-location .cache/eslint",
    "bash -c 'tsc --noEmit'"
  ],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --cache --cache-location .cache/stylelint"],
  "*.{json,md,html}": ["prettier --write"],
  "package.json": ["bash -c 'npm run deps:clean || true'"]
}

fix: add order_id to email queue for proper email processing
  supabase/functions/_shared/email-service.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: queue emails immediately on order creation
  supabase/migrations/20251001000009_fix_email_trigger.sql
Due: none

fix: resolve email confirmation flow issues
  supabase/.temp/cli-latest
  supabase/functions/process-order/index.ts
  supabase/migrations/20251002000001_fix_email_trigger_validation.sql
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: resolve CSP worker blocking and admin function 404 errors
  netlify.toml
  scripts/check-db-functions.sql
  src/lib/admin/products.ts
  supabase/migrations/20251002000002_grant_admin_function_permissions.sql
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: correct SQL syntax in admin_upsert_product ON CONFLICT clause
  supabase/migrations/20251002000003_fix_admin_upsert_product_syntax.sql
Due: none

fix: correct timestamp type in admin_upsert_product function
  supabase/migrations/20251002000004_fix_admin_upsert_timestamp_types.sql
Due: none

fix: remove incorrect UUID-to-text casting in admin_upsert_product
  supabase/migrations/20251002000005_fix_admin_upsert_uuid_casting.sql
Due: none

fix: set valid QUEUE_PROCESSOR_TOKEN for email automation
  supabase/migrations/20251002000006_set_queue_processor_token.sql
Due: none

fix: admin product form schema audit and corrections
  ADMIN_PRODUCT_AUDIT.md
  src/pages/admin/components/AdminProductForm.tsx
  supabase/migrations/20251002000008_change_variant_price_to_numeric.sql
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: implement Resend webhook signature verification and configuration
  RESEND_WEBHOOK_SETUP.md
  supabase/functions/resend-webhook/index.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: add cdn.jsdelivr.net to CSP for browser-image-compression library
  netlify.toml
Due: none

fix: properly handle TEXT variant IDs in admin_upsert_product function
  supabase/migrations/20251002000009_fix_variant_id_text_type.sql
Due: none

fix: resolve email system and implement image upload optimization
  CHECKOUT_EMAIL_AUDIT_FIX.md
  CRITICAL_FIXES_SUMMARY.md
  EMAIL_FIX_SUMMARY.md
  EMAIL_SYSTEM_AUDIT_REPORT.md
  IMAGE_UPLOAD_FIX_SUMMARY.md
  STORAGE_POLICY_FIX_INSTRUCTIONS.md
  SUPABASE_AUDIT_REPORT.md
  src/lib/storage/image-optimizer.ts
  src/lib/storage/supabase-storage.ts
  supabase/functions/_shared/email-queue-processor.ts
  supabase/functions/process-sms-queue/index.ts
  supabase/functions/resend-webhook/index.ts
  supabase/migrations/20251002000010_fix_email_queue_rls_performance.sql
  supabase/migrations/20251002000011_add_inventory_management.sql
  supabase/migrations/20251002000012_update_order_processing_for_variants.sql
  supabase/migrations/20251002000013_allow_public_product_access.sql
  supabase/migrations/20251002000014_fix_product_image_upload.sql
  supabase/migrations/20251002000015_add_sms_notification_system.sql
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: implement comprehensive user settings panel with profile, addresses, and order history
  USER_SETTINGS_IMPLEMENTATION.md
  src/App.tsx
  src/components/settings/AddressForm.tsx
  src/components/settings/AddressSettings.tsx
  src/components/settings/OrderHistory.tsx
  src/components/settings/ProfileSettings.tsx
  src/hooks/useAddresses.ts
  src/hooks/useOrders.ts
  src/hooks/useProfile.ts
  src/pages/UserSettings.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: add welcome page after login and fix auth redirect flow
  src/App.tsx
  src/pages/Welcome.tsx
  src/pages/auth/AuthCallback.tsx
  src/pages/auth/Login.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: enhance admin access control and add admin card to profile page
  ADMIN_ACCESS_SECURITY.md
  src/pages/ProfileSimplified.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: configure production-ready CI/CD with Netlify and secure secrets
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/database-migrations.yml
  GITHUB_WORKFLOWS_SETUP.md
Due: prettier --write

refactor: remove legacy and unused code to improve codebase quality
  CODEBASE_CLEANUP_REPORT.md
  SECRETS_TO_SET.md
  public/sitemap-blog.xml
  public/sitemap-index.xml
  public/sitemap-products.xml
  public/sitemap.xml
  src/pages/CityDelivery.tsx
  src/pages/DeliveryArea.tsx
  src/pages/MapPerformanceDemo.tsx
  src/pages/Profile.tsx
  src/pages/Settings.tsx
  src/pages/checkout/CheckoutAddress.tsx
  src/pages/checkout/CheckoutPayment.tsx
  src/pages/checkout/CheckoutReview.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: add comprehensive admin dashboard database migration
  .gitignore
  src/hooks/admin/useAdminDashboard.ts
  src/lib/admin/dashboard-api.ts
  src/lib/react-query/config.ts
  src/pages/admin/AdminDashboard.tsx
  supabase/migrations/20251014000000_admin_dashboard_complete.sql
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

chore: update phone number to 612-930-1390
  src/components/DesktopHeader.tsx
  src/components/Footer.tsx
  src/components/MobileHeader.tsx
  src/lib/email.ts
  src/lib/emailService.ts
  src/lib/seo.ts
  src/pages/Cart.tsx
  src/pages/DeliveryAreaSimplified.tsx
  src/pages/Index.tsx
  src/pages/checkout/CheckoutComplete.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: major UI/UX refresh and enterprise migrations
  deno.lock
  package-lock.json
  package.json
  public/logos/Dankdeals-logo-new.svg
  src/components/BottomNav.tsx
  src/components/HeroSection.tsx
  src/components/product/ProductCard.tsx
  src/components/ui/button-variants.ts
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/index.css
  src/pages/AnalyticsTest.tsx
  src/pages/Blog.tsx
  src/pages/BlogPost.tsx
  src/pages/Categories.tsx
  src/pages/FAQ.tsx
  src/pages/Legal.tsx
  src/pages/NotFound.tsx
  src/pages/Privacy.tsx
  src/pages/ProductDetail.tsx
  src/pages/Terms.tsx
  src/pages/Welcome.tsx
  src/pages/admin/AdminLayout.tsx
  src/pages/auth/AuthCallback.tsx
  src/pages/auth/ForgotPassword.tsx
  src/pages/auth/Login.tsx
  src/pages/auth/Register.tsx
  src/pages/checkout/OnePageCheckout.tsx
  src/styles/dankdeals-theme.css
  supabase/.temp/gotrue-version
  supabase/migrations/20251012000001_enterprise_event_sourcing.sql
  supabase/migrations/20251012000002_enterprise_auth_system.sql
  supabase/migrations/20251012000003_enterprise_inventory_system.sql
  supabase/migrations/20251012000004_enterprise_pricing_system.sql
  supabase/rollback/rollback_sms_migration.sql
  tailwind.config.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', stylelint --fix --cache --cache-location .cache/stylelint, bash -c 'npm run deps:clean || true'

fix: resolve infinite recursion in vendor_users RLS policies
  supabase/migrations/20251014000001_fix_vendor_users_infinite_recursion.sql
Due: none

fix: OAuth callback redirects to home page instead of 404
  src/pages/auth/AuthCallback.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: add saved addresses to checkout for signed-in users
  src/hooks/useAddresses.ts
  src/pages/checkout/OnePageCheckout.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: comprehensive order history with downloadable itemized receipts
  src/pages/Orders.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: add auto-rotating promotional banners with Swiper.js
  src/components/PromoBanner.tsx
  src/pages/Index.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

style: enhance logo shadow for lifted depth effect
  src/components/DesktopHeader.tsx
  src/components/MobileHeader.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

chore: add swiper dependency and fix security vulnerabilities
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm run deps:clean || true'

chore: fix Netlify build - revert to Vite 5.x and update Node version
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm run deps:clean || true'

fix: add data: to font-src CSP for Swiper fonts
  netlify.toml
Due: none

refactor: remove hero section from homepage
  src/pages/Index.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: add comprehensive logging for product image uploads
  src/components/admin/ProductImageUpload.tsx
  src/pages/admin/components/AdminProductForm.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: comprehensive logging for product image upload flow
  src/components/admin/ProductImageUpload.tsx
  src/components/ui/image-upload.tsx
  src/lib/storage/supabase-storage.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: add proper bottom padding to all pages for navbar clearance
  public/test-upload.html
  src/pages/Blog.tsx
  src/pages/BlogPost.tsx
  src/pages/Cart.tsx
  src/pages/FAQ.tsx
  src/pages/Index.tsx
  src/pages/Legal.tsx
  src/pages/Orders.tsx
  src/pages/Privacy.tsx
  src/pages/ProductDetail.tsx
  src/pages/ProfileSimplified.tsx
  src/pages/Terms.tsx
  src/pages/UserSettings.tsx
  src/pages/checkout/CheckoutComplete.tsx
  src/pages/checkout/OnePageCheckout.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: require product save before image upload to ensure correct UUID paths
  src/components/admin/ProductImageUpload.tsx
  src/pages/admin/AdminProductEditor.tsx
  src/pages/admin/components/AdminProductForm.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: wrap adjacent JSX elements in fragment
  src/pages/admin/components/AdminProductForm.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: prevent blob URLs from being saved to database
  src/components/ui/image-upload.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: comprehensive SEO enhancements with competitor blog post and enterprise sitemap generation
  SEO_ENHANCEMENTS_SUMMARY.md
  docs/SEO_IMPLEMENTATION.md
  public/sitemap-blog.xml
  public/sitemap-index.xml
  public/sitemap.xml
  scripts/generate-sitemap.js
  src/data/blogPosts.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: critical image upload bug - prevent blob URLs from being saved to database
  src/components/admin/ProductImageUpload.tsx
  src/pages/admin/components/AdminProductForm.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'
