Repository jwillz7667/quantum-architect-dankdeals: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', stylelint --fix --cache --cache-location .cache/stylelint, bash -c 'npm run deps:clean || true'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --cache --cache-location .cache/eslint",
    "bash -c 'tsc --noEmit'"
  ],
  "*.{css,scss}": ["prettier --write", "stylelint --fix --cache --cache-location .cache/stylelint"],
  "*.{json,md,html}": ["prettier --write"],
  "package.json": ["bash -c 'npm run deps:clean || true'"]
}

fix: Improve build scripts and resolve build warnings
  .size-limit.json
  netlify.toml
  package-lock.json
  package.json
  scripts/build-production.js
  vite.config.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', bash -c 'npm run deps:clean || true'

fix: Remove NODE_ENV from Netlify build environment
  netlify.toml
Due: none

feat: Enhance Vite chunking with Rollup best practices
  tsconfig.node.json
  vite-chunking.ts
  vite.config.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: Resolve Netlify secrets scanning for Google Maps API
  .env.example
  netlify.toml
  package.json
  scripts/check-api-keys.js
  src/components/DeliveryAreaMap.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', bash -c 'npm run deps:clean || true'

feat: Remove entire Google Maps implementation
  .env.example
  netlify.toml
  package-lock.json
  package.json
  scripts/check-api-keys.js
  scripts/validate-env.js
  src/components/DeliveryAreaMap.tsx
  src/components/DeliveryMap.tsx
  src/pages/CityDeliverySimplified.tsx
  src/pages/DeliveryAreaSimplified.tsx
  src/pages/Index.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', bash -c 'npm run deps:clean || true'

fix: Disable Lighthouse plugin to fix Netlify build
  netlify.toml
Due: none

fix: Fix production build issues - preserve console.error and handle Node.js modules
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', bash -c 'npm run deps:clean || true'

fix: Optimize build chunking to reduce small chunks
  vite-chunking.ts
  vite.config.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: Fix production site loading issues
  public/_headers
  vite.config.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: Resolve module initialization errors
  public/_headers
  vite-chunking.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: Resolve Node.js module externalization warnings
  package-lock.json
  package.json
  vite-chunking.ts
  vite.config.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', bash -c 'npm run deps:clean || true'

fix: Update Node.js version and fix env loading
  .nvmrc
  netlify.toml
  package.json
  scripts/generate-sitemap.js
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', bash -c 'npm run deps:clean || true'

fix: Update Node.js version to 20 for cross-env compatibility
  .cache/eslint
  .nvmrc
  netlify.toml
Due: none

fix: CSP and PWA icon paths
  netlify.toml
  vite.config.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

perf: Major performance optimizations for Lighthouse score
  index.html
  netlify.toml
  src/App.tsx
  src/components/GTMTracker.tsx
  src/components/ui/optimized-image.tsx
  src/lib/lazyWithPrefetch.ts
  vite-chunking.ts
  vite.config.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

perf: Implement comprehensive Google Maps performance optimizations
  package-lock.json
  package.json
  src/components/DeliveryAreaMap.tsx
  src/components/DeliveryMap.tsx
  src/components/OptimizedDeliveryMap.tsx
  src/components/OptimizedProductImage.tsx
  src/hooks/useIntersectionObserver.ts
  src/lib/google-analytics.ts
  src/lib/gtm.ts
  src/lib/imagePreloader.ts
  src/lib/webVitals.ts
  src/pages/MapPerformanceDemo.tsx
  src/types/global.d.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', bash -c 'npm run deps:clean || true'

feat: Implement comprehensive Google Tag Manager and GA4 analytics
  src/App.tsx
  src/components/AgeGate.tsx
  src/components/analytics/GTMProvider.tsx
  src/hooks/useAnalytics.ts
  src/pages/AnalyticsTest.tsx
  src/pages/ProductDetail.tsx
  src/pages/checkout/OnePageCheckout.tsx
  src/services/analytics.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: Update GTM/GA4 CSP headers and resolve React fetchPriority warnings
  netlify.toml
  src/App.tsx
  src/components/OptimizedProductImage.tsx
  src/components/logo/LogoImage.tsx
  src/types/global.d.ts
  vite.config.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: Improve checkout form with autofill support and phone formatting
  docs/FACEBOOK_AUTH_SETUP.md
  scripts/test-facebook-auth.html
  src/pages/checkout/OnePageCheckout.tsx
  src/utils/phoneFormatter.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

Fix lint: typed min/max price props in ProductGrid; keep Edge Functions ignored by ESLint as per config
  src/components/CategoriesProductGrid.tsx
  src/components/product/ProductCard.tsx
  src/components/product/ProductGrid.tsx
  supabase/functions/README.md
  supabase/functions/payments-aeropay-create-session/index.ts
  supabase/functions/payments-aeropay-webhook/index.ts
  supabase/functions/payments-stronghold-create-session/index.ts
  supabase/functions/payments-stronghold-webhook/index.ts
  supabase/migrations/20240808000001_payment_events.sql
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

chore(edge-functions): configure and deploy order + email queue functions; add scheduled queue workflow; fix email status type; add email_queue migration; add test-admin-email for diagnostics
  .github/workflows/cd.yml
  .github/workflows/process-email-queue.yml
  supabase/functions/_shared/types.ts
  supabase/functions/test-admin-email/index.ts
  supabase/migrations/20240805000001_email_queue.sql
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix(checkout): preserve order number in URL and via location state; avoid redirecting from completion page
  src/pages/checkout/CheckoutComplete.tsx
  src/pages/checkout/OnePageCheckout.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: resolve TypeScript errors and update tests
  src/__tests__/components/ProductCard.test.tsx
  src/hooks/useAnalytics.ts
  src/lib/lazyWithPrefetch.tsx
  src/lib/orderService.ts
  src/lib/productSchema.ts
  src/pages/ProductDetail.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

chore: update dependencies and fix sitemap 404 image issues
  .cursor/mcp.json
  CLAUDE.md
  package-lock.json
  package.json
  public/sitemap-blog.xml
  public/sitemap-products.xml
  public/sitemap.xml
  scripts/generate-sitemap.js
  src/integrations/supabase/client.ts
  src/integrations/supabase/types.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', bash -c 'npm run deps:clean || true'

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write, bash -c 'npm run deps:clean || true'

Refactor: Update sitemaps and Vercel config
  public/sitemap-blog.xml
  public/sitemap-index.xml
  public/sitemap-products.xml
  public/sitemap.xml
  scripts/generate-sitemap.js
  vercel.json
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: Configure Netlify for SEO and build improvements
  netlify.toml
Due: none

Fix: Improve build command and sitemap generation
  netlify.toml
  scripts/generate-sitemap.js
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: scaffold admin product dashboard
  AGENTS.md
  src/App.tsx
  src/hooks/admin/useAdminProducts.ts
  src/integrations/supabase/client.ts
  src/integrations/supabase/types.ts
  src/lib/admin/__tests__/products.test.ts
  src/lib/admin/products.ts
  src/lib/react-query/config.ts
  src/pages/admin/AdminDashboard.tsx
  src/pages/admin/AdminLayout.tsx
  src/pages/admin/AdminProductEditor.tsx
  src/pages/admin/AdminProducts.tsx
  src/pages/admin/components/AdminProductForm.tsx
  src/pages/admin/components/__tests__/AdminProductForm.test.tsx
  supabase/migrations/20250919194000_c7d8f9aa-b1b2-43ab-8e3d-af5f0b9d1234.sql
  supabase/rollback/20250919194000_c7d8f9aa-b1b2-43ab-8e3d-af5f0b9d1234.sql
  tests/e2e/admin.spec.ts
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: surface admin entrypoint and stabilize rollup build
  package.json
  scripts/ensure-rollup-binary.cjs
  src/components/DesktopHeader.tsx
  src/components/MobileHeader.tsx
  supabase/.temp/cli-latest
  supabase/.temp/storage-version
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', bash -c 'npm run deps:clean || true'

test: tighten admin product form payload assertion
  src/pages/admin/components/__tests__/AdminProductForm.test.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

build: make rollup binary check non-fatal
  scripts/ensure-rollup-binary.cjs
Due: none

build: always publish sitemap index
  public/sitemap-blog.xml
  public/sitemap-index.xml
  public/sitemap-products.xml
  public/sitemap.xml
  scripts/generate-sitemap.js
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: add automated email queue system with monitoring
  docs/configure-email-automation-FIXED.md
  docs/configure-email-automation.md
  docs/email-queue-monitoring.md
  docs/email-queue-setup.md
  src/pages/admin/components/__tests__/AdminProductForm.test.tsx
  supabase/migrations/20251001000001_setup_email_queue_automation.sql
  supabase/migrations/20251001000002_setup_email_queue_token.sql
  supabase/migrations/20251001000003_fix_email_automation_permissions.sql
  supabase/migrations/20251001000004_set_queue_token.sql
  supabase/migrations/20251001000005_fix_rls_policies.sql
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: disable RLS on products for public access
  supabase/migrations/20251001000006_disable_rls_products.sql
Due: none

security: fix critical admin authorization vulnerabilities
  docs/fixes.md
  package-lock.json
  src/components/DesktopHeader.tsx
  src/components/MobileHeader.tsx
  src/components/auth/ProtectedRoute.tsx
  src/hooks/useIsAdmin.ts
  supabase/.temp/cli-latest
  supabase/migrations/20251001000007_secure_rls_policies.sql
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: implement pagination for product listings
  PAGINATION_IMPLEMENTATION.md
  src/components/CategoriesProductGridPaginated.tsx
  src/components/ProductGrid.tsx
  src/components/product/PaginatedProductGrid.tsx
  src/components/product/ProductGrid.tsx
  src/hooks/usePaginatedProducts.tsx
  src/hooks/useProducts.tsx
  src/pages/Categories.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

feat: add image upload functionality to admin product form
  docs/STORAGE_SETUP.md
  package-lock.json
  package.json
  src/components/admin/ProductImageUpload.tsx
  src/components/ui/image-upload.test.tsx
  src/components/ui/image-upload.tsx
  src/components/ui/progress.tsx
  src/lib/storage/supabase-storage.ts
  src/pages/admin/components/AdminProductForm.tsx
  src/types/image-upload.ts
  supabase/migrations/20251001000008_create_products_storage_bucket.sql
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit', bash -c 'npm run deps:clean || true'

fix: improve admin dashboard UX and product table layout
  src/hooks/admin/useAdminProducts.ts
  src/pages/admin/AdminLayout.tsx
  src/pages/admin/AdminProducts.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'

fix: prevent bottom nav from overlapping page content
  src/components/BottomNav.tsx
  src/pages/Cart.tsx
Due: prettier --write, eslint --fix --cache --cache-location .cache/eslint, bash -c 'tsc --noEmit'
